@use "../../../../src/styles/variables.scss" as vars;

main {
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
    color: vars.$text-color;

    section {
        height: 100%;
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .main-section{
        gap: 1px;

        flex-grow: 1;

        background-color: vars.$primary-color;
        height: 100vh;
        font-size: 28px;
        color: vars.$text-color;
 
    }

    .main-section img{
        border-radius: 20%;
        object-fit: cover;
      
    }

    .form-section {
        flex-grow: 0.3;
        padding: 0 35px;
    
        img {
            margin-bottom: 30px;
            
        }

        h2{
            font-size: 20px;
            font-weight: bold;
            margin-bottom: 45px;

        }
        
        .btn-wrapper{
            display:flex;
            height: 100%;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            gap: 30px;

            .divider{
                display:flex;
                align-items: center;
                justify-content: center;
                font-size: 14px;
                color: vars.$text-color;
                font-weight: 400;
                text-transform: uppercase;
                width: 100%;

                div{
                    flex-grow: 1;
                    min-width: 100%;
                    height: 2px;
                    background-color: vars.$secondary-color;
                }
            }

            button {
                width: 100%;
                border-radius: 8px;
                font-size: 16px;
                font-weight: 500;
                border: none;
                background: transparent;
                padding: 12px 24px;
                cursor: pointer;
        
                &.btn-primary{
                    background-color: vars.$secondary-color;
                    color: vars.$text-color;
                    box-shadow: 0px 4px 6px rgba(74, 50, 34, 0.2), 0px 1px 3px rgba(244, 187, 58, 0.4);
        
                }
        
                &.btn-secondary{
                    border: 1px solid vars.$secondary-color;
                    color: vars.$text-color;
                }
            }
        }

        
        }
}